page-contact {
  img {
    width: auto;
    height: auto;
  }

  $text-input-md-highlight-color: rgba(255, 255, 255, 0.98);
  $text-input-md-show-valid-highlight:#FFFFF;
  $text-input-md-highlight-color-valid:#FFFFF;
}
